.topnav {
    background:#FFF;
    border-bottom:solid 1px #DDD;
}
.navbar-brand {
    padding:0;
    margin:0;
}
.navbar-nav > li {
  padding-left: 38px;
  text-decoration: underline;
  text-decoration-color: blue;
  font-size: 25px;
}

