<div class="pragraph-light-grey">
  <span class="titleclass">&nbsp;Welcome to coding challenge, </span><span class="walterclass"> Walter Liu !</span>&nbsp;&nbsp;&nbsp;
  <span class="githubclass"> <a href='https://github.com/liuw10612/WalterLiuCodingChallengeStories'> Source Code ready</a></span>
</div>

<br />
<body>

  <section class="pragraph-white-smoke">
    <p>
      Using the<a href='https://github.com/HackerNews/API'> Hacker News API</a>, create a solution that allows users to view the newest stories from the feed.
      <br> Your solution must be developed using an Angular front-end app that calls a C# .NET Core back-end restful API.
    </p>
  </section>

  <br />

  <section class="pragraph-white-smoke">
    <p>
      The front-end UI should consist of:
    </p>
    <ul>
      <li>      A list of the newest stories     </li>
      <li>      Each list item should include the title and a link to the news article. Watch out for stories that do not have hyperlinks!    </li>
      <li>      A search feature that allows users to find stories    </li>
      <li>      A paging mechanism. While we love reading, 200 stories on the page are a bit much.    </li>
      <li>      Automated tests for your code </li>
    </ul>
  </section>

  <br />
  <section class="pragraph-white-smoke">
    <p>    The back-end API should consist of:  </p>
    <ul>
      <li>      Usage of dependency injection, it's built-in so why not?     </li>
      <li>      Caching of the newest stories    </li>
      <li>      Automated tests for your code </li>
    </ul>
  </section>

  <br />
  <section class="pragraph-white-smoke">
    While we would love seeing an Angular only solution to this problem, we really need to see your CSharpness.
    <br />
    If you're up for it, upload your code challenge to an Azure website and send us the link! Azure websites have free trial periods, so you don't have to pay a dime <fa-icon class="smileclass" icon="smile" size="2x"></fa-icon>
    <br />
    Put the final solution in a GitHub repository for our review and send us the link.
  </section>

  <br />
  <section class="pragraph-white-smoke">
    <p>     Your solution will be evaluated on:     </p>
    <ul>
      <li>      Elegance of design.    </li>
      <li>      Clean and understandable code.    </li>
      <li>      Use of automated tests (integration and unit).    </li>
      <li>Demonstrated understanding of ASP.NET Core, Angular, C#, TypeScript and dependency injection. </li>
    </ul>
  </section>

  <br />
  <section class="pragraph-white-smoke">
    <p>
      Your solution will not be considered for the following reasons:
    </p>

    <ul>
      <li>      Cannot clone solution from GitHub repository provided.     </li>
      <li>      The cloned solution will not compile locally.    </li>
      <li>      Compiled solution does not run and provide the functionality described above.     </li>
      <li>      Automated tests will not run and pass.    </li>
      <li>      Use of frameworks other than Angular (Don't use Vue, React, Razor, etc...).     </li>
      <li>      Plagiarism of others' code.</li>
    </ul>

    <p>
      This challenge was designed to help you practice with coding and dialogue between you and our dev team. We want to see your code so we can review it with you and have a conversation about what worked and what did not. If you run into issues, it's okay, let's chat through it!
    </p>
  </section>
  <br />
  <h4><span class="badge bg-info"> Note, we are not looking for the simplest solution.  </span></h4>
  <br />
</body>
