section {
  border-radius: 10px;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 8px;
}
.pragraph-light-grey {
  margin: 1px;
  background-color: rgb(208,208,208);
  font-family: arial, sans-serif;
  font-size: 16px;
}
.pragraph-white-smoke {
  margin: 1px;
  background-color: rgb(245,245,245);
  font-family: arial, sans-serif;
  font-size: 16px;
}

.titleclass {
  color: blue;
}

