<h1>Hello, Walter Liu</h1>
<p>Welcome to code challenge, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<article>
  Using the Hacker News API, create a solution that allows users to view the newest stories from the feed.

  Your solution must be developed using an Angular front-end app that calls a C# .NET Core back-end restful API.

  The front-end UI should consist of:

  A list of the newest stories
  Each list item should include the title and a link to the news article. Watch out for stories that do not have hyperlinks!
  A search feature that allows users to find stories
  A paging mechanism. While we love reading, 200 stories on the page are a bit much.
  Automated tests for your code


  The back-end API should consist of:

  Usage of dependency injection, it's built-in so why not?
  Caching of the newest stories
  Automated tests for your code


  While we would love seeing an Angular only solution to this problem, we really need to see your CSharpness.



  If you're up for it, upload your code challenge to an Azure website and send us the link! Azure websites have free trial periods, so you don't have to pay a dime :)



  Put the final solution in a GitHub repository for our review and send us the link.



  Your solution will be evaluated on:

  Elegance of design.
  Clean and understandable code.
  Use of automated tests (integration and unit).
  Demonstrated understanding of ASP.NET Core, Angular, C#, TypeScript and dependency injection.


  Your solution will not be considered for the following reasons:

  Cannot clone solution from GitHub repository provided.
  The cloned solution will not compile locally.
  Compiled solution does not run and provide the functionality described above.
  Automated tests will not run and pass.
  Use of frameworks other than Angular (Don't use Vue, React, Razor, etc...).
  Plagiarism of others' code.


  This challenge was designed to help you practice with coding and dialogue between you and our dev team. We want to see your code so we can review it with you and have a conversation about what worked and what did not. If you run into issues, it's okay, let's chat through it!



  Best,

  Devin Ossi



  Note, we are not looking for the simplest solution.

</article>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
