section {
  border-radius: 10px;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 8px;
}
.pragraph-light-grey {
  border-radius: 10px;
  margin: 1px;
  background-color: rgb(208,208,208);
  font-family: arial, sans-serif;
  font-size: 16px;
}
.pragraph-white-smoke {
  margin: 1px;
  background-color: rgb(245,245,245);
  font-family: arial, sans-serif;
  font-size: 16px;
}

.smileclass{
  color:orange
}

.titleclass {
  font-family: Monotype Corsiva;
  color: blue;
  font-size: 68px
}
.walterclass {
  font-family: cursive;
  color: darkblue;
  font-size: 54px
}
.githubclass {
  color: skyblue;
  font-size: 16px
}
