<div class="row  ">
  <nav class="col-5 col-md-3 mt-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary  btn-xs mr-1" id="dropdownBasic1" [disabled]="loading"  ngbDropdownToggle>Page Size</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button name="page10" ngbDropdownItem (click)="onPageSizeChange(10)">10</button>
        <button name="page20" ngbDropdownItem (click)="onPageSizeChange(20)">20</button>
        <button name="page20" ngbDropdownItem (click)="onPageSizeChange(40)">40</button>
        <button name="page20" ngbDropdownItem (click)="onPageSizeChange(100)">100</button>
      </div>  &nbsp;<b>{{perPage}}</b> &nbsp; <em>per page</em>
    </div>
  </nav>

  <nav class="col-5 col-md-3 mt-2 pr-0 d-flex justify-content-end">
    <!--https://ng-bootstrap.github.io/#/components/pagination/examples-->
    <ngb-pagination (pageChange)="onPageChange($any($event))" [disabled]="loading" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="true" [pageSize]="perPage" [ellipses]="true" [boundaryLinks]="true"  size="sm" ngbTooltip="{{cacheInfoText}}" [disableTooltip]="perPage != cacheInfo.cachePageSize">
    </ngb-pagination>
  </nav>

  <nav class="col-5 col-md-1 mt-2 ">
    <button class="btn btn-default" style="width:100%" [disabled]="loading">
      <fa-icon *ngIf="loading" class="spinclass" icon="spinner" [spin]="true" size="2x"></fa-icon>
    </button>
  </nav>

  <nav class="col-5 col-md-5 mt-2 ">
    <div class="form-group" style="text-align: right">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" [disabled]="loading" />

        <span class="input-group-btn">
          <button class="btn btn-outline-info" [disabled]="loading" (click)="fullSearch()"  ngbTooltip="This is a slow one" [disableTooltip]="searchText.trim()==''">
            <fa-icon icon="search"></fa-icon>
            Full Search
          </button>
        </span>
      </div>
    </div>
  </nav>
</div>

<hr class="my-3">

<div *ngIf="stories$ | async as stories1; else loadingOrError">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stories1">
    <thead>
      <tr>
        <th>
          <button class="btn btn-link" (click)="setSort('title')">
            <h1> Hacker News Stories</h1>
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'title'"></fa-icon>
          </button>
        </th>
        <th>
          <button class="btn btn-link" (click)="setSort('time')">
            <h3> Date Time </h3>
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'time'"></fa-icon>
          </button>
        </th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let story of stories1 | filter : searchText : ['title'] | sort : [sortColumn, ascending]">
        <td>
          <a href="{{story.url}}"> {{ story.title }} </a>
        </td>
        <td>
          {{ story.time | date :'MM-dd-yyyy HH:mm:ss' }}
        </td>
      </tr>
    </tbody>
  </table>
</div> 

<div *ngIf="displayLog">
  <ul class="log" #logWindow [scrollTop]="logWindow.scroll">
    <li *ngFor="let entry of logEntries"><em>{{entry.time | date:'shortTime'}}</em> {{entry.message}}</li>
  </ul>
</div>

<ng-template #loadingOrError>
  <span *ngIf="storyErrors$ | async as message; else loading">
    {{message}}
  </span>
  <ng-template #loading>
    <fa-icon class="spinclass2" icon="spinner" [spin]="true" ></fa-icon>
  </ng-template>
</ng-template>


