<h1 id="tableLabel">NewStoriesDataComponent  </h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<form [formGroup]="searchForm">

  <hr class="my-5">
  <article>
    <h2 class="h6">Selecting Per Page Amount Via Dropdrown {{page}} -- {{calculateTotalPages}}</h2>
    <div class="row border-top mt-1 py-1 width-cheat small">
      <nav class="col-5 col-md-3 mt-2">
        <div ngbDropdown class="d-inline-block" [autoClose]="'inside'">
          <button class="btn btn-primary  btn-xs mr-1" id="dropdownBasic1" ngbDropdownToggle>size per page</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="perPage=10">10</button>
            <button ngbDropdownItem (click)="perPage=20">20</button>
            <button ngbDropdownItem (click)="perPage=40">40</button>
            <button ngbDropdownItem (click)="perPage=100">100</button>
          </div> {{perPage}} per page
        </div>
      </nav>
      <!--<div class="col-2 col-md-6 d-flex justify-content-center align-items-center">
        {{collectionSize | number}} results
      </div>-->
      <nav class="col-5 col-md-3 mt-2 pr-0 d-flex justify-content-end">
        <ngb-pagination (pageChange)="onPageChange($any($event))" [disabled]="false" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="true" [pageSize]="perPage" [ellipses]="false" [boundaryLinks]="true" size="sm">
          <ng-template ngbPaginationFirst><<</ng-template>
          <ng-template ngbPaginationPrevious><</ng-template>
          <ng-template ngbPaginationNext>></ng-template>
          <ng-template ngbPaginationLast>>></ng-template>
        </ngb-pagination>
      </nav>
    </div>
  </article>


  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <thead>
      <tr>
        <th>ID</th>
        <th>TIME</th>
        <th>TITLE</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.id }}</td>
        <td>{{ forecast.time }}</td>
        <td>
          <a href="{{forecast.url}}"> {{ forecast.title }} </a>
        </td>
        <td>{{ forecast.url }}</td>
      </tr>
    </tbody>
  </table>

</form>
