<div class="row  ">
  <nav class="col-5 col-md-3 mt-2">
    <div ngbDropdown class="d-inline-block" [autoClose]="'inside'">
      <button class="btn btn-primary  btn-xs mr-1" id="dropdownBasic1" [disabled]="loading" ngbTooltip="Page 1 cached" [disableTooltip]="perPage != 10" ngbDropdownToggle>Page Size</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onPageSizeChange(10)">10</button>
        <button ngbDropdownItem (click)="onPageSizeChange(20)">20</button>
        <button ngbDropdownItem (click)="onPageSizeChange(40)">40</button>
        <button ngbDropdownItem (click)="onPageSizeChange(100)">100</button>
      </div> {{perPage}} &nbsp; <em>per page</em>
    </div>
  </nav>

  <nav class="col-5 col-md-3 mt-2 pr-0 d-flex justify-content-end">
    <ngb-pagination (pageChange)="onPageChange($any($event))" [disabled]="loading" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="true" [pageSize]="perPage" [ellipses]="false" [boundaryLinks]="true" size="sm">
      <ng-template ngbPaginationFirst><i><<</i></ng-template>
      <ng-template ngbPaginationPrevious><</ng-template>
      <ng-template ngbPaginationNext>></ng-template>
      <ng-template ngbPaginationLast>>></ng-template>
    </ngb-pagination>
  </nav>

  <nav class="col-5 col-md-1 mt-2 ">
    <button class="btn btn-default" style="width:100%" [disabled]="loading">
      <fa-icon *ngIf="loading" class="spinclass" icon="spinner" [spin]="true" size="2x"></fa-icon>
    </button>
  </nav>

  <nav class="col-5 col-md-5 mt-2 ">
    <div class="form-group" style="text-align: right">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" [disabled]="loading" />

        <span class="input-group-btn">
          <button class="btn btn-outline-info" [disabled]="loading" (click)="fullSearch()"  ngbTooltip="This is a slow one" [disableTooltip]="searchText.trim()==''">
            <fa-icon icon="search"></fa-icon>
            Full Search
          </button>
        </span>
      </div>
    </div>
  </nav>
</div>

<hr class="my-3">

<div *ngIf="stories$ | async as stories1; else loadingOrError">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stories1">
    <thead>
      <tr>
        <th id="t2"><h1> Hacker News Stories</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories1 | filter : searchText : ['title']">
        <td>
          <a href="{{story.url}}"> {{ story.title }} </a>
        </td>
      </tr>
    </tbody>
  </table>
</div> 

<div *ngIf="displayLog">
  <ul class="log" #logWindow [scrollTop]="logWindow.scroll">
    <li *ngFor="let entry of logEntries"><em>{{entry.time | date:'shortTime'}}</em> {{entry.message}}</li>
  </ul>
</div>

<ng-template #loadingOrError>
  <span *ngIf="storyErrors$ | async as message; else loading">
    {{message}}
  </span>
  <ng-template #loading>
    <fa-icon class="spinclass2" icon="spinner" [spin]="true" ></fa-icon>
  </ng-template>
</ng-template>


